::-moz-selection {
  color: white;
  background-color: brown; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #394655;
  background: #ffffff; }

.container {
  margin: 21px 2%; }
  .container blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: black;
    border: none; }

a {
  text-decoration: none;
  color: brown; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }

ul.tags li {
  display: inline; }

.tag {
  font-style: italic;
  margin-right: 4px; }

img {
  max-width: 600px; }

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%; } }
